<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      /* .completed {
        text-decoration: line-through;
        opacity: 0.5;
      } */
      input {
        outline: none;
        user-select: none;
        border: 1px solid;
      }
      input:read-only {
        border-color: white;
      }
      ul.visible-active li.completed {
        display: none;
      }
      ul.visible-completed li:not(.completed) {
        display: none;
      }
      li.active .kuang{
        border:1px solid white;
        display:inline-block;
        width: 100px;
      }
      li.completed .kuang{
        display: inline-block;
        width: 100px;
        text-decoration: line-through;
        opacity: 0.5;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>todos</h1>
      <div>
        <input type="checkbox" class="togggle-all" @click="toggleAll" :checked="全选">
        <input type="text" v-model="inputText" @keyup.enter="addTodo" placeholder="what needs to be done?">
      </div>
      <ul id="todo-list" :class="`visible-${visibleTodos}`">
        <li :class="{'todo-item':true,completed:todo.completed,active:!todo.completed}" v-for="(todo,idx) of 计算出需要显示的(todos)" :key="todos-id">
          <input data-index="0" type="checkbox" v-model="todo.completed" >
          <span v-show="editIdx !== idx" @dblclick="edit(idx)" class="kuang">{{ todo.content }}</span>
          <input
            @keyup.enter="todo.content = $event.target.value.trim();editIdx = -1"
            @blur="todo.content = $event.target.value.trim();editIdx = -1"
            @keyup.escape="editIdx = -1"
            v-show="editIdx == idx"
            type="text"
            :value="todo.content"
          >
          <button @click="deleteTodo(idx)">&times;</button>
        </li>
      </ul>
      <div>
        <span><em>{{ 剩余数量 }}</em>items left</span>
        <div class="visible-select">
          <label><input type="radio" @click="visibleTodos = $event.target.value" value="all" name="visible-todos" checked>All</label>
          <label><input type="radio" @click="visibleTodos = $event.target.value" value="active" name="visible-todos">Active</label>
          <label><input type="radio" @click="visibleTodos = $event.target.value" value="completed" name="visible-todos">Completed</label>
        </div>
        <button :style="{width:'130px',color:'yellow',backgroundColor:'skyblue',borderColor:'white'}" @click="clearCompleted" v-show="是否显示">Clear completed</button>
        <div :style="{marginTop:'10px',color:'blue',width:'130px',backgroundColor:'pink',lineHeight:3}" v-if="剩余数量 <= 0">恭喜完成今日任务</div>
        <div :style="{marginTop:'10px',color:'red',width:'260px',backgroundColor:'black',lineHeight:5,fontSize:'20px'}" v-else>革命尚未成功，同志任需努力</div>
      </div>
    </div>
    <script src="./vue-2.7.14.js"></script>
    <script>
        var app = new Vue({
          el: '.container',
          data: {
            todos: JSON.parse(localStorage.getItem('todos')) ?? [{
              content: '吃饭',
              completed: true,
            }, {
              content: '喝水',
              completed: false,
            }, {
              content: '睡觉',
              completed: true,
            }],
            inputText:'',
            visibleTodos: 'all',
            editIdx: -1,
          },
          watch: {
            todos: {
              deep: true,
              handler: function () {
                localStorage.setItem('todos', JSON.stringify(this.todos))
              },
            }
          },
          computed:{
            剩余数量(){
              return this.todos.filter(it => !it.completed).length
            },
            是否显示(){
              return this.todos.some(it => it.completed)
            },
            全选(){
              return this.todos.length && this.todos.every(it => it.completed)
            },
          },
          methods: {
            edit(idx) {
              this.editIdx = idx
            },
            计算出需要显示的() {
              if (this.visibleTodos == 'completed') {
                return this.todos.filter(it => it.completed)
              } else if (this.visibleTodos == 'active') {
                return this.todos.filter(it => !it.completed)
              }
              return this.todos
            },
            clearCompleted() {
              this.todos = this.todos.filter(it => !it.completed)
            },
            addTodo(e) {
              var text = this.inputText
              if (text) {
                this.todos.push({
                  id:Math.random().toString(36).slice(2),
                  content: text,
                  completed: false,
                })
                this.inputText = ''
              }
            },
            deleteTodo(idx) {
              this.todos.splice(idx, 1)
            },
            toggleAll() {
              if (this.todos.every(it => it.completed)) {
                this.todos.forEach(it => {
                  it.completed = false
                })
              } else {
                this.todos.forEach(it => {
                  it.completed = true
                })
              }
            },
          }
        })
    </script>
  </body>
</html>
